[Unit]
Description=Hello World application to be used as part of a GitHub Actions sample.

[Service]
Type=notify
WorkingDirectory=/web/hello
ExecStart=/usr/bin/dotnet /web/hello/Hello.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=actions-demo-hello
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=DOTNET_ROOT=/usr/lib64/dotnet

[Install]
WantedBy=multi-user.target
